@font-face {
  font-family: "regularFont";
  src: url("../../../../src/assets/fonts/TTNorms-Regular.otf");
}

/* COLORS */
* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: regularFont;
  height: 100%;
  width: 100%;
  background-color: #db4c44;
  line-height: 1.2rem;
}

.navbarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px 16px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarHeader .navbarHeader__logoBox img {
  width: 100px;
  height: 60px;
}

.navbarHeader .signInUpBox .signInUpBox__links .signInUpBox__signIn {
  color: #faf1ee;
  text-decoration: none;
  border: 1px solid #dc5c54;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50px;
  width: 62.977px;
}

.navbarHeader .signInUpBox .signInUpBox__links .signInUpBox__signIn:hover {
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
  color: #db4c44;
  border: 1px solid #db4c44;
  font-weight: bold;
  background-color: #faf1ee;
}

.navbarHeader .signInUpBox .signInUpBox__links .signInUpBox__signUp {
  background-color: #faf1ee;
  color: #db4c44;
  text-decoration: none;
  border: 1px solid #dc5c54;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 20px;
  width: 62.977px;
}

.navbarHeader .signInUpBox .signInUpBox__links .signInUpBox__signUp:hover {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  color: #faf1ee;
  border: 1px solid #faf1ee;
  font-weight: bold;
  background-color: #db4c44;
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 600px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 16px;
  background-image: url(../../../assets/images/home/image_test.jpeg);
}

.heroContainer .heroContainer__wrapper {
  display: contents;
}

.heroContainer .heroContainer__wrapper .heroContainer__text {
  font-size: 32px;
  line-height: 76px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #faf1ee;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  max-width: 334px;
}

.heroContainer .heroContainer__wrapper .heroContainer__text .heroContainer__order {
  font-size: 76px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #faf1ee;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  -webkit-font-variant-ligatures: no-common-ligatures;
          font-variant-ligatures: no-common-ligatures;
  color: whitesmoke;
}

.heroContainer .heroContainer__wrapper .heroContainer__text .heroContainer__deliver {
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #faf1ee;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  -webkit-font-variant-ligatures: no-common-ligatures;
          font-variant-ligatures: no-common-ligatures;
  color: whitesmoke;
  margin-bottom: 100px;
}

.heroContainer .heroContainer__wrapper .heroContainer__signInText {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #faf1ee;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  border: 2px solid #dc5c54;
  background-color: #db4c44;
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
}

.heroContainer .heroContainer__wrapper .heroContainer__signInText:hover {
  background-color: #faf1ee;
  color: #db4c44;
}

.offerContainer {
  width: 100%;
}

.offerContainer .offerContainer__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px auto;
  /* text-align: center; */
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  /* margin: 0 auto;*/
}

.offerContainer .offerContainer__list .offerContainer__item {
  text-align: center;
  margin: 35px auto;
}

.offerContainer .offerContainer__list .offerContainer__item .item__image {
  margin-bottom: 30px;
  width: 154px;
  height: 154px;
}

.offerContainer .offerContainer__list .offerContainer__item .item__textWrapper {
  width: 100%;
}

.offerContainer .offerContainer__list .offerContainer__item .item__textWrapper .item__title {
  color: #faf1ee;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 27px;
}

.offerContainer .offerContainer__list .offerContainer__item .item__textWrapper .item__subtitle {
  color: #faf1ee;
  margin: auto;
  max-width: 265px;
  margin-bottom: 30px;
  line-height: 24px;
}

.offerContainer .offerContainer__list .offerContainer__item .item__textWrapper .item__link {
  border: 2px solid #faf1ee;
  text-decoration: none;
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  color: #db4c44;
  background-color: #faf1ee;
}

.offerContainer .offerContainer__list .offerContainer__item .item__textWrapper .item__link:hover {
  color: #faf1ee;
  background-color: #eca4a4;
}

/**** Responsive ****/
@media only screen and (max-width: 330px) {
  .signInUpBox .signInUpBox__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=Home.css.map */