// :root {
//   --primary-color: #ed3839;
//   --secondary-color: #f16768;
//   --third-color: #de1415;
//   --fourth-color: #faf1ee;
//   --fifth-color: #f59696;
//   --six-color: #
// }

@font-face {
  font-family: "regularFont";
  src: url("../../../../src/assets/fonts/TTNorms-Regular.otf");
}

/* COLORS */

$first: #db4c44;
$second: #dc5c54;
$third: #faf1ee;
$fourth: #e68683;

$sea-pink: #eca49c;
$sea-pinky: #eca4a4;
$sunglo: #e46660;
$sungloo: #e3746c;
$romano: #dc635f;


* {
  margin: 0;
  padding: 0;
}

html{
  body{
    font-family: regularFont;
    height: 100%;
    width: 100%;
    background-color: $first;
    line-height: 1.2rem;
    transition: ease-in-out 2s;
      
  }
}

.navbarHeader{
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 24px;
  border: 2px solid green;
  align-items: center;
  // width: 100%;
  .navbarHeader__logoBox{
    img{
      width: 100px;
      height: 60px;
    }
  }
  .signInUpBox{
    .signInUpBox__links{
      .signInUpBox__signIn{
        color: $third;
        text-decoration: none;
        border: 1px solid $second;
        font-weight: bold;
        font-size: 18px;
        border-radius: 50px;   
        &:hover{
          color: $first;
          border: 1px solid $first;
          font-weight: bold;
          font-size: 19px;
          background-color: $third;
        } 
      }
    }
  }
}