// :root {
//   --primary-color: #ed3839;
//   --secondary-color: #f16768;
//   --third-color: #de1415;
//   --fourth-color: #faf1ee;
//   --fifth-color: #f59696;
//   --six-color: #
// }

@font-face {
  font-family: "regularFont";
  src: url("../../../../src/assets/fonts/TTNorms-Regular.otf");
}

/* COLORS */

$first: #db4c44;
$second: #dc5c54;
$third: #faf1ee;
$fourth: #e68683;

$sea-pink: #eca49c;
$sea-pinky: #eca4a4;
$sunglo: #e46660;
$sungloo: #e3746c;
$romano: #dc635f;


* {
  margin: 0;
  padding: 0;
}

html{
  body{
    font-family: regularFont;
    height: 100%;
    width: 100%;
    background-color: $first;
    line-height: 1.2rem;
  }
}

.navbarHeader{
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 24px;
  align-items: center;
  .navbarHeader__logoBox{
    img{
      width: 100px;
      height: 60px;
    }
  }
  .signInUpBox{
    .signInUpBox__links{
      .signInUpBox__signIn{
        color: $third;
        text-decoration: none;
        border: 1px solid $second;
        font-weight: bold;
        font-size: 18px;
        border-radius: 50px;  
        width: 62.977px;
        &:hover{
          transition: ease-in-out 2s;
          color: $first;
          border: 1px solid $first;
          font-weight: bold;
          background-color: $third;
        } 
      }
      .signInUpBox__signUp{
        background-color: $third;
        color: $first;
        text-decoration: none;
        border: 1px solid $second;
        font-weight: bold;
        font-size: 18px;
        border-radius: 50px;
        margin-left: 20px;
        width: 62.977px;
        &:hover {
          transition: ease-in-out 0.2s;
          color: $third;
          border: 1px solid $third;
          font-weight: bold;
          background-color: $first;
          }
      }
    }
  }
}

.heroContainer{
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 600px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 16px;
  background-image: url(../../../assets/images/home/image_test.jpeg);
  .heroContainer__wrapper {
      display: contents;
      .heroContainer__text {
        font-size: 32px;
        line-height: 76px;
        letter-spacing: -0.04ch;
        text-transform: none;
        color: $third;
        text-align: center;
        margin: 0px;
        padding: 0px;
        display: block;
        max-width: 334px;
  
        .heroContainer__order {
          font-size: 76px;
          font-weight: 700;
          line-height: 76px;
          letter-spacing: -0.04ch;
          text-transform: none;
          color: $third;
          text-align: center;
          margin: 0px;
          padding: 0px;
          display: block;
          font-variant-ligatures: no-common-ligatures;
          color: whitesmoke;
        }
  
        .heroContainer__deliver {
          font-size: 64px;
          font-weight: 700;
          line-height: 76px;
          letter-spacing: -0.04ch;
          text-transform: none;
          color: $third;
          text-align: center;
          margin: 0px;
          padding: 0px;
          display: block;
          font-variant-ligatures: no-common-ligatures;
          color: whitesmoke;
          margin-bottom: 100px;
        }
      }
      .heroContainer__signInText{
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: $third;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        border: 2px solid $second;
        background-color: $first;
        border-radius: 50px;
        padding: 4px 8px 4px 8px;
        &:hover{
          background-color: $third;
          color: $first;
        }
      }
    }
}

.offerContainer{
  width: 100%;
  .offerContainer__list {
      -webkit-box-pack: justify;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      margin-top: 80px auto;
      
      .offerContainer__item{
        text-align: center;
        margin: 35px auto;
      
        .item__image{
          margin-bottom: 30px;
          width: 154px;
          height: 154px;
        }
        .item__textWrapper{
          width: 100%;
          .item__title{
            color: $third;
            font-size: 32px;
            font-weight: 900;
            margin-bottom: 20px;
            line-height: 27px;
          }
          .item__subtitle{
            color: $third;
            margin: auto;
            max-width: 265px;
            margin-bottom: 30px;
            line-height: 24px;
          }
          .item__link{
            border: 2px solid $third;
            text-decoration: none;
            border-radius: 50px;
            padding: 4px 8px 4px 8px;
            color: $first;
            background-color: $third;
            &:hover{
              color: $third;
              background-color: $sea-pinky;
            }
          }
          
        }
      }
    }
}

/**** Responsive ****/

// SignIn Sign Up
@media only screen and (max-width: 330px ) {
  .signInUpBox{
    .signInUpBox__links{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
  }
}