

* {
  margin: 0;
  padding: 0;
}

html{
  body{
    height: 100%;
    width: 100%;
  }
}

.navbarHeader{
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 24px;
  .navbarHeader__logoBox{
    img{
      width: 100px;
      height: 60px;
    }
  }
  .signInUpBox{
    .signInUpBox__links{
      .signInUpBox__signIn{
        margin-right: 20px;
        
      }
    }
  }
}